.Présentation_ {
  display: flex;
}

.Présentation {
  width: 85%;
  text-align: justify;
  margin: auto;
  margin-top: 4vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Compétence {
margin-top: 4vh;  
}

/* CSS pour les compétence */
/* Valeur Compétence */
:root {
  --html-skill-percent: 60%;
  --css-skill-percent: 40%;
  --javascript-skill-percent: 15%;
  --php-skill-percent: 15%;
  --sql-skill-percent: 5%;
  --design-skill-percent: 40%;
  --animation-skill-percent: 20%;
  --adobecc-skill-percent: 50%;
  --photo-skill-percent: 70%;
  --CMS-skill-percent: 5%;
}
 
/* Bar Code */
.skill-percent.html {
  width: var(--html-skill-percent);
}
.skill-percent.css {
  width: var(--css-skill-percent);
}
.skill-percent.javascript {
  width: var(--javascript-skill-percent);
}
.skill-percent.php {
  width: var(--php-skill-percent);
}
.skill-percent.sql {
  width: var(--sql-skill-percent);
}
/* Bar Skills */
.skill-percent.design {
  width: var(--design-skill-percent);
}
.skill-percent.animation {
  width: var(--animation-skill-percent);
}
.skill-percent.adobecc {
  width: var(--adobecc-skill-percent);
}
.skill-percent.photo {
  width: var(--photo-skill-percent);
}
.skill-percent.CMS {
  width: var(--CMS-skill-percent);
}


/* Mise en forme */

.card {
  width: 300px;
  background-color: #778da9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.body {
  padding: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #333;
  height: 100%;
  width: var(--skill-percent);
  animation: fill 1.5s ease-out;
}

.skill-percent-number, .skill-percent-number2 {
  display: none;
  margin-left: 20px;
  font-size: 16px;
}

@keyframes fill {
  0% {
    width: 0;
  }
}

.no-hover:hover {
  pointer-events: none;
}

.CTA2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 28vh;
  height: 6vh;
  margin: auto;
  background: #32557f;
  transform: skew(-25deg);
  margin-top: 2vh;
  margin-bottom: 2vh;
  }