.Présentation_Compétence {
    display: flex
    }

.Présentation {
    width: 50%
}

.Compétence {
    width: 50%
}

@media screen and (max-width: 576px) {
    .Présentation_Compétence {
      flex-direction: column;
    }
  }