* {
  /* Reset CSS */
  margin: 0; 
  padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1 {
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Manrope', sans-serif;
}

nav a {
  margin-left: 30px;
  color: #242424;
  text-decoration: none;
  border: 3px inset; 
  border-radius: 5px;
 }

 nav img {
  height: 8vh;
 }

a:hover
{
  color: #242424;
  text-decoration: none;
  border: 3px outset;
  border-radius: 5px;
} 

header {
  padding: 5px 20px;
  background-color: wheat;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header nav img {
    margin-bottom: 20px;
  }

  header,
  footer {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}